@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InfinitySans-RegularA1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.h1 {
  font-family: 'GongGothicMedium';
}

.chatbody {
  font-family: 'InfinitySans-RegularA1';
}

.sendmessage {
  font-family: 'InfinitySans-RegularA1';
}
